[Unit]
Description=Jupyter Notebook

[Service]
Type=simple
ExecStart=/usr/bin/jupyter notebook
User=jupyter
Group=jupyter
WorkingDirectory=/home/jupyter/notebooks
